.UserProjectsDashboardHeader{
    height: 45px;
    background-color: rgb(240,240,240);
    width: 100%;
    justify-content: space-between;
    position: fixed;
}
.UserProjectsDashboardHeader  .left{
    margin-left: 20px;
    align-self: center;
}
.UserProjectsDashboardHeader .right  {
    color: grey;
}
.UserProjectsDashboardHeader .right .sort .MuiInputBase-root{
    margin-top: 0!important;  
    background-color: rgb(240,240,240);
}
/* MuiInputBase-root MuiInput-root MuiInput-underline makeStyles-selectEmpty-2 MuiInputBase-formControl MuiInput-formControl */
/* MuiInputBase-root MuiInput-root MuiInput-underline makeStyles-selectEmpty-26 MuiInputBase-formControl MuiInput-formControl */
.UserProjectsDashboardHeader .right  .search{
    border: 1.4px solid grey;
    border-radius: 27px;
    padding-left: 5px;
    margin-right: 5px;
    border-bottom:2px solid rgb(58, 160, 255);
    background-color: rgb(255,255,255);
}
.UserProjectsDashboardHeader .right  .search input{
    background-color: rgb(255,255,255);
    outline: none;
    border: none;
}
.marginAuto{
    margin: auto;
}

























.flex{
    display: flex;
}

.UserProjectsDashboardHeader .right ul{
    padding: 0;
    list-style: none;
    background: #f2f2f2;
}
.UserProjectsDashboardHeader .right ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
.UserProjectsDashboardHeader .right ul li a{
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
}
.UserProjectsDashboardHeader .right ul li a:hover{
    color: #fff;
    background: #939393;
}
.UserProjectsDashboardHeader .right ul li ul.dropdown{
    min-width: 100%; /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
.UserProjectsDashboardHeader .right ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
.UserProjectsDashboardHeader .right ul li ul.dropdown li{
    display: block;
}