.codeit_rightmenu_{
    flex: 0.8;
    /* border: 2px solid black; */
    height: 100%;
    /* overflow-y: scroll; */
    
}
.MuiTypography-caption{
    font-size: 1.4rem!important;
}
.MuiInputBase-input{
    font-size: 1.1rem!important;
}
.codeit_rightmenu .MuiPaper-root{
    width: -webkit-fill-available!important;
}
.flex{
    display: inline-flex!important;
    /* position: fixed; */
}
.codeit_rightmenu_ .MuiLinearProgress-root{
    width: 400px!important;
    height: 18px!important;
    border: 3px solid grey;
    height: 20px!important;
    margin-bottom: 3px;
    display: flex;
    margin-left: 50px!important;
}
.codeit_rightmenu_ .selectShowCodedAs{
    background-color: rgb(175, 235, 255);
    color: #71a3ff;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #71a3ff;
}
.codeit_rightmenu_ .remove_button{
    /* background: none; */
}
.codeit_rightmenu .MuiTableCell-head{
    background-color: #c6c6c6!important;
}
.codeit_rightmenu  td,.codeit_rightmenu   th {
  border: 1px solid #ddd;
  padding: 8px;
}

.codeit_rightmenu  tr:nth-child(even){background-color: #f2f2f2;}

.codeit_rightmenu  tr:hover {background-color: #ddd;}

.codeit_rightmenu  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.codeit_rightmenu .MuiTableCell-body{
    margin: auto;
    padding: 0!important;
}
.selectedRow{
    background-color: #d3e6f8!important;
}
.MTableToolbar-highlight-21{
    background-color: #8dc8ff!important;
}
.MuiTableRow-head th span{
    width: 100%!important;
    display: flex!important;
    justify-content: space-around!important;
}
.MuiTableCell-paddingNone{
    text-align: -webkit-center!important;
}
.MuiToolbar-root .MuiFormControl-root{
    width: 25vw!important;
}
.MuiCheckbox-colorSecondary.Mui-checked{
    color: #3099fc!important;
}
.spaceBetween{
    justify-content: space-between;
}
.spaceBetween h5{
    margin-right: 120px;
}
//     text-align: -webkit-center;
// MuiTableCell-root MuiTableCell-body MuiTableCell-paddingNone
// MuiTableRow-head th span 
/* MuiFormControl-root makeStyles-formControl-8 */
/* MuiTableCell-root MuiTableCell-body MuiTableCell-alignLeft */
/* class="MuiLinearProgress-root WithStyles(ForwardRef(LinearProgress))-root-6 MuiLinearProgress-colorPrimary WithStyles(ForwardRef(LinearProgress))-colorPrimary-7 MuiLinearProgress-determinate" */
/* MuiPaper-root MuiMenu-paper MuiPopover-paper MuiPaper-elevation8 MuiPaper-rounded */
/* MuiTypography-root MuiTypography-caption */
/* MuiSelect-root MuiSelect-select MuiTablePagination-select MuiSelect-selectMenu MuiInputBase-input */
/* MuiPaper-root MuiPaper-elevation2 MuiPaper-rounded */
/* MuiListItemText-root */
/* MuiList-root MuiMenu-list MuiList-padding */
/* MuiButtonBase-root MuiListItem-root MuiMenuItem-root MuiMenuItem-gutters MuiListItem-gutters MuiListItem-button */
