$sub-color: grey!important;
$main-color: black!important;

@mixin shrinkLabel {
  top: -14px!important;
  font-size: 12px!important;
  color: $main-color!important;
}

.group {
  position: relative!important;
  margin: 45px 0!important;
  margin-bottom: 0!important;
  .form-input {
    background: none!important;
    outline: none!important;
    background-color: white!important;
    color: $sub-color!important;
    font-size: 18px!important;
    padding: 10px 10px 10px 5px!important;
    display: block!important;
    width: 100%!important;
    border: none!important;
    border-radius: 0!important;
    border-bottom: 1px solid $sub-color!important;
    margin:  0!important;
    margin-bottom: 5px!important;
    &:focus {
      outline: none!important;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em!important;
    outline: none!important;
  }

  .form-input-label {
    color: $sub-color!important;
    font-size: 16px!important;
    font-weight: normal!important;
    position: absolute!important;
    pointer-events: none!important;
    left: 5px!important;
    top: 10px!important;
    transition: 300ms ease all!important;
    outline: none!important;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
