.dash{
    display: flex;
}
.codeit_dash{
    height: 70vh;
    padding: 30px 50px;
}
.MuiFormLabel-root{
    font-size: 1.4rem!important;
}
.uploader_page .MuiFormControl-root,.uploader_page .MuiFormLabel-root{
    padding-left: 50px!important;
}
/* MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated */